* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --header-color: rgb(59, 28, 236);
  --header-background: rgb(226, 228, 240);
  --main-color: rgb(47, 86, 192);
  --main-background: rgb(222, 223, 233);
  --section-color: rgb(60, 60, 236);
  --section-background: rgb(208, 208, 223);
  --footer-color: rgb(58, 89, 226);
  --footer-background: rgb(218, 224, 236);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

body > header {
  padding: 3rem 1rem;
  text-align: center;
  font-size: 2rem;
  background: var(--header-background, rgb(226, 228, 240));
}

body > header > h1 {
  color: var(--header-color, rgb(59, 28, 236));
}

body > main {
  padding: 2rem;
  color: var(--main-color , rgb(47, 86, 192));
  background: var(--main-background, rgb(222, 223, 233));
  text-align: center;
}

body > main > h2 {
  padding: 1rem;
} 

body > main > h3 {
  padding: 1rem;
}

body > main > section {
  padding: 1rem;
  color: var(--section-color, rgb(60, 60, 236));
  background-color: var(--section-background , rgb(208, 208, 223));
}

body > footer {
  padding: 1rem;
  text-align: center;
  color: var(--footer-color, rgb(58, 89, 226));
  background: var(--footer-background, rgb(218, 224, 236));
}