* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --body-background: rgb(244, 244, 250);
  --header-color: rgb(37, 16, 155);
  --header-background: rgb(226, 228, 240);
  --main-color: rgb(21, 44, 109);
  --main-background: rgb(222, 223, 233);
  --section-color: rgb(36, 36, 139);
  --section-background: rgb(231, 231, 235);
  --form-color: rgb(113, 102, 218);
  --form-background: rgb(245, 245, 252);
  --footer-color: rgb(58, 89, 226);
  --footer-background: rgb(227, 230, 235);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  background: var(--body-background, rgb(244, 244, 250));
}

body > header {
  padding: 1rem;
  text-align: center;
  background: var(--header-background, rgb(226, 228, 240));
}

body > header > h1 {
  color: var(--header-color, rgb(37, 16, 155));
}

body > main {
  padding: 1rem 6rem;
  color: var(--main-color , rgb(21, 44, 109));
  background: var(--main-background, rgb(222, 223, 233));
  text-align: center;
}

body > main > h2 {
  padding: 1rem;
} 

body > main > h3 {
  padding: 1rem;
}

body > main > section {
  padding: 1rem 2rem;
  color: var(--section-color, rgb(36, 36, 139));
  background-color: var(--section-background , rgb(231, 231, 235));
}

body > form {
  padding: 1rem;
  text-align: center;
  color: var(--form-color, rgb(113, 102, 218));
  background: var(--form-background, rgb(245, 245, 252));
}

body > form > p {
  padding: 0.1rem;
  margin: 0.1rem;
}

body > form > input {
  padding: 0.4rem;
}

body > form > input.submit {
  padding: 0.6rem;
  margin: 1rem;
  background: rgb(134, 134, 209);
}

body > form > input.submit:hover {
  padding: 0.6rem;
  margin: 1rem;
  background: rgb(21, 21, 44);
  color: aliceblue;
  cursor: pointer;
}

body > footer {
  padding: 1rem;
  text-align: center;
  color: var(--footer-color, rgb(58, 89, 226));
  background: var(--footer-background, rgb(227, 230, 235));
  position: absolute;
  bottom: 0;
  width: 100%;
}